
.fa-3x {
  font-size: 5em;
}

.container-space {
  padding: 20px;
}

.hidden {
  display: none;
}

circle[fill="lightgreen"] {
  margin-top: 100px;
}

#graph > svg > g:nth-child(16) {
  display: none !important;
}

#graph > svg > g:last-child(17) {
  display: none !important;
}

.yellow {
  fill-opacity: 0.2;
  z-index: -10;
}

.lightgreen {
  z-index: 100 !important;
}
